<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SWITTY::LOGIN</title>

  <link th:href="@{/css/common/header.css}" rel="stylesheet">
  <link th:href="@{/css/common/naviBar.css}" rel="stylesheet">
  <link th:href="@{/css/common/home.css}" rel="stylesheet">
  <link th:href="@{/css/common/login.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{/common/header :: header-title}"></div>
<div th:replace="~{/common/naviBar :: nav}"></div>

<div class="login-container">
  <div class="login-form-div">
    <form class="login-form" th:action="@{/authentication/login}" th:object="${userLogin}" method="post">
      <div class="id-div">
        <input type="text" id="userId" name="userId" class="login-input" placeholder="아이디를 입력해 주세요." required>
      </div>
      <div class="pw-div">
        <input type="password" id="password" name="password" class="login-input" placeholder="비밀번호를 입력해 주세요." required>
      </div>
      <div class="btn-div">
        <button class="login-button" type="submit">로그인</button>
        <button class="add-button"
                th:onclick="|location.href='@{/user/add}'|"
                type="button">회원 가입</button>
      </div>
    </form>
    <p th:if="${errorMessage != null}" class="error-message" th:text="${errorMessage}"></p>
  </div>
</div>
</body>
</html>