<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SWITTY::USER</title>

  <link th:href="@{/css/common/header.css}" rel="stylesheet">
  <link th:href="@{/css/common/naviBar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{/common/header :: header-title}"></div>
<div th:replace="~{/common/naviBar :: nav}"></div>

<div class="edit-container">
  <div class="">
    <h2>회원 정보 수정</h2>
  </div>

  <form class="update-form" th:action th:object="${user}" action="@{/{memberId}/edit}" method="post">
    <div>
      <label for="memberId" class="join-label">아이디</label>
      <input type="text" th:field="*{memberId}" class="join-input" value="*{memberId}" required disabled>
    </div>
    <div>
      <label for="memberNm" class="join-label">이름</label>
      <input type="text" th:field="*{memberNm}" class="join-input" placeholder="이름을 입력해 주세요." required>
    </div>
    <div>
      <label for="memberPw" class="join-label">비밀번호</label>
      <input type="password" th:field="*{memberPw}" class="join-input" placeholder="비밀번호를 입력해 주세요." required>
    </div>
    <div>
      <label for="checkPw" class="join-label">비밀번호</label>
      <input type="password" th:field="*{checkPw}" class="join-input" placeholder="비밀번호를 동일하게 입력해 주세요." required>
    </div>
    <div>
      <label for="alarm" class="join-label">알람시간</label>
      <input type="time" th:field="*{alarm}" class="join-input" placeholder="알람시간을 입력해 주세요.(ex : 오후 2시 -> 1400)">
    </div>

    <hr class="">

    <div>
      <button class="" type="submit" id="join-btn">회원정보수정</button>
    </div>
    <div>
      <button class=""
              onclick="location.href=''"
              th:onclick="|location.href='@{/user/list}'|"
              type="button">취소</button>
    </div>
  </form>
</div>
</body>
</html>