<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SWITTY::USER</title>

	<link th:href="@{/css/common/header.css}" rel="stylesheet">
	<link th:href="@{/css/common/naviBar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{/common/header :: header-title}"></div>
<div th:replace="~{/common/naviBar :: nav}"></div>

<div class="list-container">
	<div class="">
		<h2>회원 목록</h2>
	</div>

	<hr class="">

	<div>
		<table class="members-table">
			<thead>
			<tr>
				<th>이름</th>
				<th>회원 ID</th>
				<th>알람시간</th>
				<th>등록일</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user : ${members}">
				<td><a class="list-a" href="detail.html" th:href="@{|/user/${user.memberId}|}" th:text="${user.memberId}">사사사</a></td>
				<td><a class="list-a" href="detail.html" th:href="@{|/user/${user.memberId}|}" th:text="${user.memberNm}">사사사</a></td>
				<td th:text="${user.alarm}">10000</td>
				<td th:text="${#dates.format(user.regDtm, 'yyyy-MM-dd HH:mm:ss ')}">10</td>
			</tr>
			</tbody>
		</table>
	</div>
</div> <!-- /container -->

</body>
</html>