<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SWITTY</title>

	<link th:href="@{/css/common/header.css}" rel="stylesheet">
	<link th:href="@{/css/common/naviBar.css}" rel="stylesheet">
	<link th:href="@{/css/common/home.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{/common/header :: header-title}"></div>
<div th:replace="~{/common/naviBar :: nav}"></div>
<div class="home-container">
	<h1>홈홈홈홈</h1>
</div>
</body>
</html>